---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
// import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

 const blog = (await getCollection("blog"))
   .filter(post => !post.data.draft)
   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
   .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

// const allwork = (await getCollection("work"))
//   .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
//   .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

// const work = await Promise.all(
//   allwork.map(async (item) => {
//     const { Content } = await item.render();
//     return { ...item, Content };
//   })
// );

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h3 class="animate font-semibold text-black dark:text-white text-xl">
      Hi, I'm Nate. <span class="text-2xl">👋🏻</span> 
    </h3>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I’m a founder and fullstack engineer in Oakland, California. My career journey started with music composition and improvisation, which led to music education, which led to founding an <a href="https://synthase.cc" target="_blank" rel="noopener noreferrer">online music school</a>, which led to building products for the web. This journey, along with my personality, has made me quite a generalist—I can connect the what (products) and how (implementation) to the why (mission and business goals).
          </p><p class="animate">
            As an engineer I’m most comfortable in the Typescript and React ecosystem. I’m currently building <a href="/projects/synthase-studio">Synthase Studio</a>, a Next.js app for learning creative music. <a href="/projects/chordle">Chordle</a> is a chord-building game that has had thousands of users per day and was adopted in music theory classrooms across the USA. 
          </p><p class="animate">
            I’ve also built some non-music related things, like <a href="/projects/finfetch">Finfetch</a>, which lets you download all of your bank transactions to a CSV, and <a href="/projects/hose-race">Hose Race</a>, which lets you race words based on how often they show up on Bluesky.
          </p><p class="animate">
            I’m passionate about building and I’m currently looking for my next role. Feel free to reach out if you want to chat!
          </p>
        </article>
      </section>

      

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h4 class="font-semibold text-black dark:text-white text-xl">
            Work Experience
          </h4>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white text-lg">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section> -->

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h4 class="font-semibold text-black dark:text-white text-xl">
            Recent projects
          </h4>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h4 class="font-semibold text-black dark:text-white text-xl">
            Latest posts
          </h4>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h4 class="font-semibold text-black dark:text-white text-xl">
          Let's Connect
        </h4>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
